h1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.div1{
    height: 300px;
    width: 300px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}